.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(244, 244, 240);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(112, 76, 153); 
  z-index: 100;
}
.left_section {
  display: flex;
  align-items: center;

}
.right_section {
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.middle_section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.hamburger_menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}
.youtube_logo {
  height: 20px;
}
.search_button{
  height:40px;
  width: 60px;
  background-color: rgb(221, 221, 221);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(193, 192, 192);;
  margin-left: -1px;
  margin-right: 10px;
  position: relative;
}

.search_button,
.voice_search_button,
.upload_icon_container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search_button .tooltip,
.voice_search_button .tooltip,
.upload_icon_container .tooltip{
  font-family: Roboto, Arial;
  position: absolute;
  background-color: gray;
  color: white;
  padding-left: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  opacity: 0;
  bottom: -30px;
  transition: opacity 0.2s;
  pointer-events: none;
  white-space: nowrap;
}

.search_button:hover .tooltip,
.voice_search_button:hover .tooltip,
.upload_icon_container:hover .tooltip{
  opacity: 1;
}


.voice_search_button{
  height: 40px;
  width: 40px; 
  border-radius: 20px;
  border: none;
  background-color: rgb(246, 246, 246);
}
.search_bar::placeholder{
  font-family: roboto, arial;
  font-size: 16px;
}
.search_bar{
  flex:1;
  height:36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(193, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0);
  width: 0;
}
.search_icon{
  height: 25px;
}
.voice_search_icon{
  height: 24px; 
}
.upload_icon{
  height: 24px;
}
.yt_apps_icon{
  height: 24px;
}
.notifications_icon{
  height: 24px;
}
.notifications_icon_container{
  position: relative ;
}
.current_user_pic{
  height: 32px;
  border-radius: 16px;
}
.notifications_count{
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(134, 90, 184);
  color: white;
  font-family: Roboto, Arial;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 10px;
}