.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: rgb(238, 238, 238);
    width: 72px;
    z-index: 200px;
    padding-top: 5px;
}
.sidebar_link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar_link:hover{
    background-color: rgb(198, 171, 244);
}
.sidebar_link img{
    height: 24px;   
    margin-bottom: 4px;
}
.sidebar_link div{
    font-family: Roboto, Arial;
    font-size: 10px;
}
